<div class="auth-container">
  <div class="auth-wrapper">

    <!-- hiddin when non-authorized -->
    <ng-container *ngIf="currentUser">
      <div class="img-holder" >
        <img src="{{ currentUser.photo }}" class="" />
      </div>
      <div class="username">{{ currentUser.firstName + ' ' + currentUser.lastName}}
        <br>
        <small>@{{ currentUser.occupation }}</small>
      </div>
      <a href="#" class="user-logout">
        <i class="fas fa-sign-out-alt"></i>
      </a>
    </ng-container>


    <!-- shown for non-athorized -->
    <ng-container *ngIf="!currentUser">
      <div class="login-text">Authorization</div>
      <a href="#" class="user-login" [routerLink]="['/register']">
        <i class="fas fa-sign-in-alt"></i>
      </a>
    </ng-container>

  </div>

  <!-- hidden when non-authorized -->
  <div class="auth-dropdown-wrapper" *ngIf="currentUser">
    <ul class="authdropdown-list">
      <li>
        <a href="#">
          <i class="far fa-address-card"></i> My profile</a>
      </li>
      <!-- secured part for writers/admins -->
      <li *ngIf="true">
        <a href="#">
          <i class="fas fa-plus-square"></i> Create news</a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-sign-out-alt"></i> Logout</a>
      </li>
    </ul>
  </div>
</div>
