<div class="news-list" *ngIf="newsList.length">
  <h1>News From All Over The World!</h1>
  <div class="btn-group">
    <a href="#" [ngClass]="{'active': viewMode === 'rows', 'btn view-selector': true}" (click)="switchMode($event, 'rows')">
      <i class="fas fa-th-list"></i>
    </a>
    <a href="#" [ngClass]="{'active': viewMode === 'piles', 'btn view-selector': true}" (click)="switchMode($event, 'piles')">
      <i class="fas fa-th-large"></i>
    </a>
  </div>
  <div [ngSwitch]="viewMode">
    <div class="piles-view" *ngSwitchCase="'piles'">
      <aaa-news-list-pines *ngFor="let news of newsList" [news]="news"></aaa-news-list-pines>
    </div>
    <div class="rows-view" *ngSwitchCase="'rows'">
      <aaa-news-preview *ngFor="let news of newsList" [news]="news"></aaa-news-preview>
    </div>
  </div>
</div>
